*.png
*.eps
*.gif
*.pdf
*.root
.vscode/*
*/.ipynb_checkpoints/*
*.ipynb_checkpoints*
.ipynb_checkpoints/*
attic/.ipynb_checkpoints/*
*/__pycache__*
*/data/*
attic/web/*
attic/*
*/beamTemplates*
*/laserTemplates*
nearline/run2templates/*
data/
